﻿body {
    padding-left: 350px;
    padding-right: 200px;
}

p {
    background-color: lightgray;
    font-size: 14px
}

p1 {
    display: block;
}

ul {
    font-size: 11.7px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-weight: bold;
}

li {
    float: left;
}

    li a {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 10px 2px;
        text-decoration: none;
    }

p2 {
    float: left;
}

p3 {
    float: none;
}

p4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 23%;
    float: right;
}
